@model RoomService
<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-info">Edit RoomService</h4>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info">@ViewBag.Message</div>
                }

            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" asp-action="Edit" method="post">
                    <input type="hidden" asp-for="RoomServiceID" />
                    <input type="hidden" id="HotelID" name="HotelID" value="@ViewBag.HotelID" />
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Room Service Name</label>
                                    <input asp-for="RoomServiceName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Room Service Price</label>
                                    <input asp-for="RoomServicePrice" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                            <label class="form-label">Select RoomCategory</label>
                            <select id="state" class="form-select" asp-for="RoomCategoryID" asp-items="@ViewBag.RoomCategories">
                            <option value="0"> Select Floor</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
