@model BookingRoom
<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-info">New Bookings</h4>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info">@ViewBag.Message</div>
                }

            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" asp-action="Create" asp-controller="BookingRoom" asp-area="" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Booking Room ID</label>
                                    <input asp-for="BookingRoomID" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Room Number</label>
                                    <input asp-for="Room.RoomNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Room Category</label>
                                    <input asp-for="Room.RoomCategory.RoomCategoryName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">From Date</label>
                                    <input asp-for="FromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">To Date</label>
                                    <input asp-for="ToDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Room Charges</label>
                                    <input asp-for="Room.RoomCharges" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
