@model AdminProfileVM
    <div class="row match-height">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Admin Profile</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" asp-action="EditProfile" method="post">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                        <label class="form-label">First Name</label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                        <label class="form-label">EmailID</label>
                                        <input asp-for="EmailID" class="form-control" />
                                        <span asp-validation-for="EmailID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Mobile No</label>
                                        <input asp-for="MobileNo" class="form-control" />
                                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>