@model BookingCheckIn
<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-info">Check In Form</h4>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info">@ViewBag.Message</div>
                }

            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" asp-action="Create" method="post">
                    <input type="hidden" asp-for="BookingID" value="@ViewBag.BookingID"/>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="BookingID" class="form-label">Booking ID</label>
                                    <span>@ViewBag.BookingID</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Booking CheckIn Date</label>
                                    <input asp-for="BookingCheckInDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">No of Adults</label>
                                    <input asp-for="NoofAdults" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">No of Childs</label>
                                    <input asp-for="NoofChilds" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Person Name</label>
                                    <input asp-for="PersonName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
